.card {
	margin: 5px auto;
}

.ion-color-yellow {
	--ion-color-base: gold;
	--ion-color-base-rgb: 255, 255, 0;
	--ion-color-contrast: gold;
	--ion-color-contrast-rgb: 0, 0, 0;
	--ion-color-shade: gold;
	--ion-color-tint: gold;
}

.clock-icon {
	margin-top: 3px;
}